/coreAPI/bin/Debug/net5.0
bin
obj
/coreAPI/bin/Debug/net5.0/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
/coreAPI/bin/Debug/net5.0/AutoMapper.dll
/coreAPI/bin/Debug/net5.0/Humanizer.dll
/coreAPI/bin/Debug/net5.0/Microsoft.AspNetCore.Razor.Language.dll
/coreAPI/bin/Debug/net5.0/Microsoft.Bcl.AsyncInterfaces.dll
/coreAPI/bin/Debug/net5.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/coreAPI/bin/Debug/net5.0/Microsoft.CodeAnalysis.CSharp.dll
/coreAPI/bin/Debug/net5.0/Microsoft.CodeAnalysis.Razor.dll
/coreAPI/bin/Debug/net5.0/Microsoft.CodeAnalysis.Workspaces.dll
/coreAPI/bin/Debug/net5.0/Microsoft.CodeAnalysis.dll
/coreAPI/bin/Debug/net5.0/Microsoft.Data.SqlClient.dll
/coreAPI/bin/Debug/net5.0/Microsoft.Data.Sqlite.dll
/coreAPI/bin/Debug/net5.0/Microsoft.DotNet.PlatformAbstractions.dll
/coreAPI/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/coreAPI/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Design.dll
/coreAPI/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Relational.dll
/coreAPI/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/coreAPI/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Sqlite.dll
/coreAPI/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.dll
/coreAPI/bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.dll
/coreAPI/bin/Debug/net5.0/Microsoft.Extensions.DependencyModel.dll
/coreAPI/bin/Debug/net5.0/Microsoft.Identity.Client.dll
/coreAPI/bin/Debug/net5.0/Microsoft.IdentityModel.JsonWebTokens.dll
/coreAPI/bin/Debug/net5.0/Microsoft.IdentityModel.Logging.dll
/coreAPI/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/coreAPI/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.dll
/coreAPI/bin/Debug/net5.0/Microsoft.IdentityModel.Tokens.dll
/coreAPI/bin/Debug/net5.0/Microsoft.OpenApi.dll
/coreAPI/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
/coreAPI/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
/coreAPI/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
/coreAPI/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
/coreAPI/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
/coreAPI/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.dll
/coreAPI/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
/coreAPI/bin/Debug/net5.0/Newtonsoft.Json.Bson.dll
/coreAPI/bin/Debug/net5.0/Newtonsoft.Json.dll
/coreAPI/bin/Debug/net5.0/SQLitePCLRaw.core.dll
/coreAPI/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
/coreAPI/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/coreAPI/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/coreAPI/bin/Debug/net5.0/System.Composition.AttributedModel.dll
/coreAPI/bin/Debug/net5.0/System.Composition.Convention.dll
/coreAPI/bin/Debug/net5.0/System.Composition.Hosting.dll
/coreAPI/bin/Debug/net5.0/System.Composition.Runtime.dll
/coreAPI/bin/Debug/net5.0/System.Composition.TypedParts.dll
/coreAPI/bin/Debug/net5.0/System.Configuration.ConfigurationManager.dll
/coreAPI/bin/Debug/net5.0/System.Diagnostics.DiagnosticSource.dll
/coreAPI/bin/Debug/net5.0/System.IdentityModel.Tokens.Jwt.dll
/coreAPI/bin/Debug/net5.0/System.Net.Http.Formatting.dll
/coreAPI/bin/Debug/net5.0/System.Runtime.Caching.dll
/coreAPI/bin/Debug/net5.0/System.Security.Cryptography.ProtectedData.dll
/coreAPI/bin/Debug/net5.0/System.Web.Http.dll
/coreAPI/bin/Debug/net5.0/appsettings.Development.json
/coreAPI/bin/Debug/net5.0/appsettings.json
/coreAPI/bin/Debug/net5.0/coreAPI.Business.dll
/coreAPI/bin/Debug/net5.0/coreAPI.Business.pdb
/coreAPI/bin/Debug/net5.0/coreAPI.deps.json
/coreAPI/bin/Debug/net5.0/coreAPI.dll
/coreAPI/bin/Debug/net5.0/coreAPI.exe
/coreAPI/bin/Debug/net5.0/coreAPI.pdb
/coreAPI/bin/Debug/net5.0/coreAPI.runtimeconfig.dev.json
/coreAPI/bin/Debug/net5.0/coreAPI.runtimeconfig.json
/coreAPI/bin/Debug/net5.0/coreApi.Data.dll
/coreAPI/bin/Debug/net5.0/coreApi.Data.pdb
/coreAPI/bin/Debug/net5.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/coreAPI/bin/Debug/net5.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/coreAPI/bin/Debug/net5.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
/coreAPI/bin/Debug/net5.0/cs/Microsoft.CodeAnalysis.resources.dll
/coreAPI/bin/Debug/net5.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/coreAPI/bin/Debug/net5.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/coreAPI/bin/Debug/net5.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
/coreAPI/bin/Debug/net5.0/de/Microsoft.CodeAnalysis.resources.dll
/coreAPI/bin/Debug/net5.0/dotnet-aspnet-codegenerator-design.dll
/coreAPI/bin/Debug/net5.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/coreAPI/bin/Debug/net5.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
/coreAPI/bin/Debug/net5.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
/coreAPI/bin/Debug/net5.0/es/Microsoft.CodeAnalysis.resources.dll
/coreAPI/bin/Debug/net5.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/coreAPI/bin/Debug/net5.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
/coreAPI/bin/Debug/net5.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/coreAPI/bin/Debug/net5.0/fr/Microsoft.CodeAnalysis.resources.dll
/coreAPI/bin/Debug/net5.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/coreAPI/bin/Debug/net5.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/coreAPI/bin/Debug/net5.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
/coreAPI/bin/Debug/net5.0/it/Microsoft.CodeAnalysis.resources.dll
/coreAPI/bin/Debug/net5.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/coreAPI/bin/Debug/net5.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
/coreAPI/bin/Debug/net5.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
/coreAPI/bin/Debug/net5.0/ja/Microsoft.CodeAnalysis.resources.dll
/coreAPI/bin/Debug/net5.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/coreAPI/bin/Debug/net5.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
/coreAPI/bin/Debug/net5.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
/coreAPI/bin/Debug/net5.0/ko/Microsoft.CodeAnalysis.resources.dll
/coreAPI/bin/Debug/net5.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/coreAPI/bin/Debug/net5.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
/coreAPI/bin/Debug/net5.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
/coreAPI/bin/Debug/net5.0/pl/Microsoft.CodeAnalysis.resources.dll
/coreAPI/bin/Debug/net5.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/coreAPI/bin/Debug/net5.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
/coreAPI/bin/Debug/net5.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
/coreAPI/bin/Debug/net5.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
/coreAPI/bin/Debug/net5.0/ref/coreAPI.dll
/coreAPI/bin/Debug/net5.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/coreAPI/bin/Debug/net5.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
/coreAPI/bin/Debug/net5.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
/coreAPI/bin/Debug/net5.0/ru/Microsoft.CodeAnalysis.resources.dll
/coreAPI/bin/Debug/net5.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/coreAPI/bin/Debug/net5.0/runtimes/win-arm/lib/net5.0/dotnet-aspnet-codegenerator-design.exe
/coreAPI/bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/coreAPI/bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.pdb
/coreAPI/bin/Debug/net5.0/runtimes/win-arm64/lib/net5.0/dotnet-aspnet-codegenerator-design.exe
/coreAPI/bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/coreAPI/bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.pdb
/coreAPI/bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/coreAPI/bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.pdb
/coreAPI/bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/coreAPI/bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.pdb
/coreAPI/bin/Debug/net5.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/coreAPI/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
/coreAPI/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
/coreAPI/bin/Debug/net5.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/coreAPI/bin/Debug/net5.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
/coreAPI/bin/Debug/net5.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/coreAPI/bin/Debug/net5.0/tr/Microsoft.CodeAnalysis.resources.dll
/coreAPI/bin/Debug/net5.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/coreAPI/bin/Debug/net5.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
/coreAPI/bin/Debug/net5.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
/coreAPI/bin/Debug/net5.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
/coreAPI/bin/Debug/net5.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/coreAPI/bin/Debug/net5.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
/coreAPI/bin/Debug/net5.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
/coreAPI/bin/Debug/net5.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
/coreAPI/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/coreAPI/obj/Debug/net5.0/apphost.exe
/coreAPI/obj/Debug/net5.0/coreAPI.AssemblyInfo.cs
/coreAPI/obj/Debug/net5.0/coreAPI.AssemblyInfoInputs.cache
/coreAPI/obj/Debug/net5.0/coreAPI.GeneratedMSBuildEditorConfig.editorconfig
/coreAPI/obj/Debug/net5.0/coreAPI.MvcApplicationPartsAssemblyInfo.cache
/coreAPI/obj/Debug/net5.0/coreAPI.MvcApplicationPartsAssemblyInfo.cs
/coreAPI/obj/Debug/net5.0/coreAPI.RazorTargetAssemblyInfo.cache
/coreAPI/obj/Debug/net5.0/coreAPI.assets.cache
/coreAPI/obj/Debug/net5.0/coreAPI.csproj.AssemblyReference.cache
/coreAPI/obj/Debug/net5.0/coreAPI.csproj.CopyComplete
/coreAPI/obj/Debug/net5.0/coreAPI.csproj.CoreCompileInputs.cache
/coreAPI/obj/Debug/net5.0/coreAPI.csproj.FileListAbsolute.txt
/coreAPI/obj/Debug/net5.0/coreAPI.dll
/coreAPI/obj/Debug/net5.0/coreAPI.genruntimeconfig.cache
/coreAPI/obj/Debug/net5.0/coreAPI.pdb
/coreAPI/obj/Debug/net5.0/ref/coreAPI.dll
/coreAPI/obj/Debug/net5.0/staticwebassets/coreAPI.StaticWebAssets.Manifest.cache
/coreAPI/obj/Debug/net5.0/staticwebassets/coreAPI.StaticWebAssets.xml
/coreAPI/obj/coreAPI.csproj.nuget.dgspec.json
/coreAPI/obj/coreAPI.csproj.nuget.g.props
/coreAPI/obj/coreAPI.csproj.nuget.g.targets
/coreAPI/obj/project.assets.json
/coreAPI/obj/project.nuget.cache
AutoMapper.Extensions.Microsoft.DependencyInjection.dll
AutoMapper.dll
Humanizer.dll
Microsoft.AspNetCore.Razor.Language.dll
Microsoft.Bcl.AsyncInterfaces.dll
Microsoft.CodeAnalysis.CSharp.Workspaces.dll
Microsoft.CodeAnalysis.CSharp.dll
Microsoft.CodeAnalysis.Razor.dll
Microsoft.CodeAnalysis.Workspaces.dll
Microsoft.CodeAnalysis.dll
Microsoft.Data.SqlClient.dll
Microsoft.Data.Sqlite.dll
Microsoft.DotNet.PlatformAbstractions.dll
Microsoft.EntityFrameworkCore.Abstractions.dll
Microsoft.EntityFrameworkCore.Design.dll
Microsoft.EntityFrameworkCore.Relational.dll
Microsoft.EntityFrameworkCore.SqlServer.dll
Microsoft.EntityFrameworkCore.Sqlite.dll
Microsoft.EntityFrameworkCore.dll
Microsoft.Extensions.DependencyInjection.dll
Microsoft.Extensions.DependencyModel.dll
Microsoft.Identity.Client.dll
Microsoft.IdentityModel.JsonWebTokens.dll
Microsoft.IdentityModel.Logging.dll
Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
Microsoft.IdentityModel.Protocols.dll
Microsoft.IdentityModel.Tokens.dll
Microsoft.OpenApi.dll
Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
Microsoft.VisualStudio.Web.CodeGeneration.dll
Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
Newtonsoft.Json.Bson.dll
Newtonsoft.Json.dll
SQLitePCLRaw.core.dll
Swashbuckle.AspNetCore.Swagger.dll
Swashbuckle.AspNetCore.SwaggerGen.dll
Swashbuckle.AspNetCore.SwaggerUI.dll
System.Composition.AttributedModel.dll
System.Composition.Convention.dll
System.Composition.Hosting.dll
System.Composition.Runtime.dll
System.Composition.TypedParts.dll
System.Configuration.ConfigurationManager.dll
System.Diagnostics.DiagnosticSource.dll
System.IdentityModel.Tokens.Jwt.dll
System.Net.Http.Formatting.dll
System.Runtime.Caching.dll
System.Security.Cryptography.ProtectedData.dll
System.Web.Http.dll
appsettings.Development.json
appsettings.json
coreAPI.Business.dll
coreAPI.Business.pdb
coreAPI.deps.json
coreAPI.dll
coreAPI.exe
coreAPI.pdb
coreAPI.runtimeconfig.dev.json
coreAPI.runtimeconfig.json
coreApi.Data.dll
coreApi.Data.pdb
Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Microsoft.CodeAnalysis.CSharp.resources.dll
Microsoft.CodeAnalysis.Workspaces.resources.dll
Microsoft.CodeAnalysis.resources.dll
dotnet-aspnet-codegenerator-design.dll
dotnet-aspnet-codegenerator-design.exe
Microsoft.Data.SqlClient.SNI.dll
Microsoft.Data.SqlClient.SNI.pdb
.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
apphost.exe
coreAPI.AssemblyInfo.cs
coreAPI.AssemblyInfoInputs.cache
coreAPI.GeneratedMSBuildEditorConfig.editorconfig
coreAPI.MvcApplicationPartsAssemblyInfo.cache
coreAPI.MvcApplicationPartsAssemblyInfo.cs
coreAPI.RazorTargetAssemblyInfo.cache
coreAPI.assets.cache
coreAPI.csproj.AssemblyReference.cache
coreAPI.csproj.CopyComplete
coreAPI.csproj.CoreCompileInputs.cache
coreAPI.csproj.FileListAbsolute.txt
coreAPI.genruntimeconfig.cache
coreAPI.StaticWebAssets.Manifest.cache
coreAPI.StaticWebAssets.xml
coreAPI.csproj.nuget.dgspec.json
coreAPI.csproj.nuget.g.props
coreAPI.csproj.nuget.g.targets
project.assets.json
project.nuget.cache
net5.0
/coreAPI.Business/bin
/.vs/coreAPI/v16/.suo
/.vs/coreAPI/config/applicationhost.config
/.vs/coreAPI/DesignTimeBuild/.dtbcache.v2
